/* 
    Document   : Index
    Created on : 02-ene-2014, 15:14:32
    Author     : Goweb
    Description:
        Purpose of the stylesheet follows.
*/
@import url("BarraNavegacion.css");
@import url("ScrollBox.css");
body { 
    background-color: #110F23;
}